In [11]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [12]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [13]:
mzp = zp.mean()
mks = ks.mean()

cov = ((zp - mzp) * (ks - mks)).sum() / (zp.shape[0] - 1)
cov

10175.37777777778

In [14]:
np.cov(zp, ks, ddof=1)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [18]:
corr = cov / (zp.std(ddof=1) * ks.std(ddof=1))
corr

0.8874900920739164

In [15]:
df = pd.DataFrame({'zp': zp,
                   'ks': ks})
df.head()

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459

In [16]:
df[['zp', 'ks']].corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

2

In [20]:
X = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
a = 0.05

In [36]:
mx = X.mean()
std = X.std(ddof=1)
(mx - (1.96 * std / np.sqrt(X.shape[0])), mx + (1.96 * std / np.sqrt(X.shape[0])))

(111.56372732786916, 124.63627267213083)

3

In [29]:
disp = 25
n = 27
mx = 174.2
alpha = 0.05

In [31]:
t1 = st.norm.ppf(alpha / 2)
t1

-1.9599639845400545

In [34]:
(mx - (1.96 * disp / np.sqrt(n)), mx + (1.96 * disp / np.sqrt(n)))

(164.7699456032361, 183.63005439676388)