# Лекция 8

Используя данные о хоккеистах (скачать можно [здесь](https://habr.com/ru/post/301340/)), проверьте, является ли среди хоккеистов из Финляндии, Норвегии и Дании значимым отличие роста. В качестве ответа запишите 1, если является, и 0 иначе.

In [103]:
import numpy as np
import pandas as pd
from scipy import stats

In [16]:
players = pd.read_csv('hockey_players.csv', encoding='cp1252')
players.head()

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
0,2001,RUS,10,tverdovsky oleg,D,L,185,84.0,1976-05-18,anaheim mighty ducks,24.952772,1976,24.543462
1,2001,RUS,2,vichnevsky vitali,D,L,188,86.0,1980-03-18,anaheim mighty ducks,21.119781,1980,24.332277
2,2001,RUS,26,petrochinin evgeni,D,L,182,95.0,1976-02-07,severstal cherepovetal,25.229295,1976,28.680111
3,2001,RUS,28,zhdan alexander,D,R,178,85.0,1971-08-28,ak bars kazan,29.675565,1971,26.827421
4,2001,RUS,32,orekhovsky oleg,D,R,175,88.0,1977-11-03,dynamo moscow,23.490760,1977,28.734694

In [25]:
countries = players['country'].unique()
countries

array(['RUS', 'AUT', 'BLR', 'CAN', 'CZE', 'FIN', 'GER', 'ITA', 'JPN',
       'LAT', 'NOR', 'SUI', 'SVK', 'SWE', 'UKR', 'USA', 'POL', 'SLO',
       'DEN', 'FRA', 'KAZ', 'HUN'], dtype=object)

Нас интересуют игроки FIN, NOR, FRA

In [54]:
fin_players = players[players['country'] == 'FIN']
nor_players = players[players['country'] == 'NOR']
fra_players = players[players['country'] == 'FRA']

print(f'fin_players: {fin_players.shape[0]}')
print(f'nor_players: {nor_players.shape[0]}')
print(f'fra_players: {fra_players.shape[0]}')

fin_players: 396
nor_players: 290
fra_players: 249

In [56]:
TARGET = 'height'
h_1 = fin_players[TARGET]
h_2 = nor_players[TARGET]
h_3 = fra_players[TARGET]

1292    181
1293    178
1294    183
1295    180
1296    179
       ...
6063    180
6064    186
6065    186
6066    183
6067    183
Name: height, Length: 249, dtype: int64

Для того что бы узнать влияет ли качественный показатель country на количественный показатель  height воспользуетмся критерием Фишера

In [113]:
def anova(*samples):
    """F-статисктика"""    
    SAMPLE = np.concatenate(samples)

    ss_b = sum((s_i.mean() - SAMPLE.mean())**2 * s_i.size for s_i in samples)
    ss_w = sum(((s_i - s_i.mean()) ** 2).sum() for s_i in samples)
    

    df = get_df(*samples)
    sigma_b = ss_b / df[0]
    sigma_w = ss_w / df[1]
    
    return sigma_b / sigma_w

In [114]:
def get_df(*samples):
    """Степени свободы"""
    SAMPLE = np.concatenate(samples)
    k = len(samples)
    n = SAMPLE.size
    k1 = k - 1
    k2 = n - k
    print(f'k1: {k1}, k2: {k2}')
    return k1, k2

In [115]:
F_r = anova(h_1, h_2, h_3)
F_r

k1: 2, k2: 932

4.556797960518417

После того как нашли F-расчетное, найдем F-критическое в таблице критических точек для заданного уровня значимости и степеней свободы

In [116]:
df = get_df(h_1, h_2, h_3)
k1 = df[0]
k2 = df[1]
alpha = 0.05
F_t = stats.f.ppf(1-alpha, k1, k2)
F_t

k1: 2, k2: 932

3.0053821381465493

F-расчетное больше чем F-табличное: и поэтому принимается гипотеза H1 которая гласит что страна влияет на рост.

Ответ 1